.formWrap{
  margin-bottom: 40px;
}

.formWrap .title1{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 14px;
}

.formWrap .title2{
  font-size: 14px;
  margin-bottom: 4px;
}

.introMsg{
  font-size: 14px;
  color: #9b9b9b;
  font-weight: 300;
  margin-bottom: 10px;
  strong{
    font-weight: 700;
    color: #2d2d2d;
    text-decoration: underline;
  }
}

